---
layout: base
title: Articles
description: 'All blog posts can be found here'
pagination:
  data: collections.allPosts
  size: 20
permalink: '/articles/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

<article class="wrapper text-size-500">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
    </div>
  </header>


  <ul class="flow" role="list">
    {% asyncEach item in pagination.items %}
      {% set definedDate = item.date %}
      {% include "partials/card-blog.njk" %}
    {% endeach %}
  </ul>

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.posts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "articles" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}
</article>
