<li>
    <h2 slot="headline">
      <a href="{{ item.url | url }}" class="blog-link">{{ item.data.title }}&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;{% include "partials/date.njk" %}</a>
    </h2>
</li>

{% css "local" %}
  {% include "css/custom-card.css" %}
  
  /* Add any additional list-specific styles here */
  li {
    list-style: none;
  }

  /* Add hover styles for the link */
  .blog-link {
    color: var(--color-text);
    transition: color 0.2s ease;
    text-decoration: none;
  }

  .blog-link:hover {
    color: var(--color-primary); /* Uses your theme's primary color */
  }
{% endcss %}
