<footer class="site-footer mt-l-xl p-s-m">
  <div class="wrapper">
    <div class="cluster gutter-xs">
      <nav class="cluster text-step-0" aria-label="{{ meta.navigation.ariaBottom }}">
        &copy; {% year %}
        <a href="/" {{ indicateActiveHome }}
          ><span class="font-display">{{ meta.siteName }}</span> <small>{{ pkg.version }}</small>
        </a>

      </nav>

    </div>

  </div>
</footer>
